<%# Adding an header ejs to the about page %>
<%- include('partials/header'); -%>

<h1>About</h1>
<p>
  <%= aboutContent %>
</p>

<%# Adding an footer ejs to the about page %>
<%- include('partials/footer'); -%>
