<%# Adding an header ejs to the contact page %>
<%- include('partials/header'); -%>

<h1>Contact</h1>
<p>
  <%= contactContent %>
</p>

<%# Adding an footer ejs to the contact page %>
<%- include('partials/footer'); -%>
