<%# Adding an header ejs to the posts page %>
<%- include('partials/header'); -%>

<h1>  <%= postPageTitle %>   </h1>
<p>
  <%= postPageContent %>
</p>

<%# Adding an footer ejs to the posts page %>
<%- include('partials/footer'); -%>
